* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  background-size: contain;
}

body {
  background-image: url(../Images/le-lespauls.jpg);
  width: 100%;
  background-repeat: repeat;

}


.container {
  margin-top: 20px;
  background-image: url(../Images/LSSRP8Z\ \(1\)\ \(1150x719\).jpg);
  width: 1100px;
  height: 640px;
  margin: 0 auto;

}

h1 {
  text-align: center;
  color: #000;
  font-family: 'Metal Mania', cursive;
  font-size: 100px;
  text-shadow:
    -1px -1px 0 #BCC6CC,
    1px -1px 0 #BCC6CC,
    -1px 1px 0 #BCC6CC,
    1px 1px 0 #BCC6CC;
}

#subwrapper {
  text-align: center;
}

#subwrapper1 {
  text-align: center;
}

#start {
  font-family: 'Metal Mania', cursive;
  font-size: 50px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  color: red;
  margin: auto 0;

}

.answer-button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #000;
  background-color: silver;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-right: 10px;
}

#counter {
  text-align: center;
  color: #000;
  font-family: 'Metal Mania', cursive;
  font-size: 100px;
  text-shadow:
    -1px -1px 0 #BCC6CC,
    1px -1px 0 #BCC6CC,
    -1px 1px 0 #BCC6CC,
    1px 1px 0 #BCC6CC;
}

h2 {
  text-align: center;
  color: #000;
  font-family: 'Metal Mania', cursive;
  font-size: 45px;
  text-shadow:
    -1px -1px 0 #BCC6CC,
    1px -1px 0 #BCC6CC,
    -1px 1px 0 #BCC6CC,
    1px 1px 0 #BCC6CC;
}

h3 {
  text-align: center;
  color: #000;
  font-family: 'Metal Mania', cursive;
  font-size: 45px;
  text-shadow:
    -1px -1px 0 #BCC6CC,
    1px -1px 0 #BCC6CC,
    -1px 1px 0 #BCC6CC,
    1px 1px 0 #BCC6CC;
}

@media screen and (max-width: 980px) {
  body {
    width: 100%;
  }

  .container {
    margin-top: 20px;
    background-size: 100%;
    width: 100%;
    height: 540px;
    margin-left: 45px;
    padding-top: 0px;
    padding-bottom: 20px;
    top: 30px;
    background-image: url(../Images/LSSRP8Z\ \(1\)\ \(1150x719\).jpg);
    background-image: 75%;
    margin: 0 auto;
  }

  .header {
    width: 100%;
  }

  h1 {
    font-size: 70px;
  }
  h2 {
    font-size: 35px;
  }

  #counter {
    font-size: 50px;
  }

  .answer-button {
    font-size: 20px;
  }

  }

@media only screen and (max-width: 768px) {
  body {
    width: 100%;
  }

  .container {
    margin-top: 20px;
    background-size: 100%;
    width: 80%;
    height: 90%;
    margin-left: 45px;
    padding-top: 0px;
    padding-bottom: 20px;
    top: 30px;
    background-image: url(../Images/rotate.jpg);
    background-image: 55%;
    margin: 0 auto;

  }

  .header {
    width: 100%;
  }

  h1 {
    font-size: 70px;
    color: rgb(139, 10, 10);
  }

  h2 {
    font-size: 45px;
 
  }

  #counter {
    font-size: 75px;
    color: rgb(139, 10, 10);
  }

  .answer-button {
    font-size: 25px;
    padding: 4px 4px;
    border-radius: 4px;
    display: block;
    margin-right: 20px;
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
    border-bottom: none;
  }


}

@media only screen and (max-width: 640px) {
  body {
    width: 100%;
  }

  .container {
    margin-top: 20px;
    background-size: 100%;
    width: 80%;
    height: 100%;
    margin-left: 45px;
    padding-top: 0px;
    padding-bottom: 20px;
    top: 30px;
    background-image: url(../Images/rotate.jpg);
    background-image: 55%;
    margin: 0 auto;

  }

  .header {
    width: 100%;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 35px;
  }

  #counter {
    font-size: 55px;
  }

  .answer-button {
    font-size: 15px;
    padding: 10px 15px;
  }
}

@media only screen and (max-width: 414px) {
  body {
    width: 100%;
  }

  .container {
    margin-top: 20px;
    background-size: 100%;
    width: 90%;
    height: 100%;
    margin-left: 45px;
    padding-top: 0px;
    padding-bottom: 20px;
    top: 30px;
    background-image: url(../Images/rotate.jpg);
    background-image: 55%;
    margin: 0 auto;
    background-repeat: no-repeat;

  }

  .header {
    width: 100%;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 32px;
  }

  h3 {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 32px;

  }


  #counter {
    font-size: 50px;
  }

  .answer-button {
    font-size: 15px;
    padding: 5px 5px;
    border-radius: 5px;
    display: block;
    margin-right: 20px;
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
    border-bottom: none;
  }
}

@media only screen and (max-width: 360px) {
  body {
    width: 100%;
  }

  .container {
    margin-top: 80px;
    background-size: 100%;
    width: 80%;
    height: 100%;
    margin-left: 45px;
    padding-top: 0px;
    padding-bottom: 20px;
    top: 30px;
    background-image: url(../Images/rotate.jpg);
    background-image: 55%;
    margin: 0 auto;
    background-repeat: no-repeat;

  }

  .header {
    width: 100%;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 28px;
  }

  h3 {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 32px;

  }


  #counter {
    font-size: 40px;
  }

  .answer-button {
    font-size: 15px;
    padding: 4px 4px;
    border-radius: 4px;
    display: block;
    margin-right: 20px;
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
    border-bottom: none;
  }
}